.headline {
  font-weight: 400;
  text-align: center;
  color: #bc925a;
  font-size: 50px;
}

.buttons {
    border: 2px solid #bc925a;
    color: #bc925a;
    padding: 20px;
    margin: 0px;
    border-radius: 10px;
    background-color: black;
    font-size: large;
}
.buttons:hover {
    background-color: #bc925a;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: large;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    background-color: #020202;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bc925a;
    text-decoration: none;
    font-size: 80px;
  }

  .app { 
    background-image: url("../Components/Images/mainimg.jpg"); 
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  } 
  
  .home {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: #bc925a;
    width: auto ;
    max-width: 100% ;
    height: auto ;
    padding: 0px 20px 
  }


  
  