* {
    box-sizing: border-box;
}

.img-fluid {
    height: 300px;
    width: 100%;
}

.card {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 18rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.cards {
    padding: 20px 0px; 
    width: 50%;
    float:left;
    max-width: 100%;
    display: table
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.update, .delete {
    color:#bc925a;
    text-decoration: none;
    padding-left: none;
    padding: 20px; 
}

.update:hover, .delete:hover {
    color: gold
}


.website {
    color: #bc925a;
    padding-bottom: 30px;
    text-decoration: none;
    padding-left: 20px;
    font-size: small;
}

.website:hover {
    color: gold;
}


