.img-fluid {
    height: 250px;
    width: 300px;
}
.cards {
    height: auto;
    width: auto;
    max-width: 100%;
    padding: 20px;
}

.cards-grid {
    display: inline-block;
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
}

.cards-grid:after {
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.update, .delete {
    color:#bc925a;
    text-decoration: none;
    padding-left: none;
    padding: 20px 
}


.update:hover, .delete:hover {
    color: gold
}

.box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.website {
    color: #bc925a;
    padding-bottom: 30px;
    text-decoration: none;
    padding-left: 20px
}
.website:hover {
    color: gold;
}
