.forMore {
    color: #bc925a;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 50px;
}

.contain1 {
    padding-top: 20px;
}


.fixing {
    color: white;
    padding-top: 30px;
}
form {
    padding-right: 50px;

}