* {
    box-sizing: border-box;
    overflow: auto;
}

.card-img-top {
    height: 200px;
    width: 200px;
}


.card1 {
    border: 2px solid #bc925a;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 50px;
    height: 400px
}

.cards1 {
    width: 25%;
    max-width: 100%;
    display: table;
    float: left;
    padding: 15px;
    color: white;
}

.viewBrand {
    text-align: center;
    color: #bc925a;
}
